.introductionSection {
    display: flex;
    font-size: 16px;
    
    @media (max-width: 780px) {
        flex-direction: column;
    
        /*.conteudoCentral {
            width: 100%;
            //margin-bottom: 40px;
            margin-bottom: 6vw;
        }*/
    }
}