.navbar {
    display: flex;
    flex-direction: row;
    
    & > * {
        margin: 0px 15px;
    }

    @media (max-width: 780px) {
        & > * {
            margin: 0px 8px;
        }
    }

    @media (max-width: 360px) {
        & > * {
            margin: 0px 5px;
        }
    }
}

.header__navbar--mobile {
    @extend .navbar;

    z-index: 999;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 70%;
    background-color: lighten(black, 18%);

    & > button {
        height: 25vh;
        width: 100%;
        border: none;
        background-color: lighten(black, 18%);
        color: white;
        font-size: 3.2vw;

        &:hover, &:active {
            color: lighten(black, 50%);
        }
    }
}

.header__navbar--mobile--able {
    transform: translateX(0);
    transition: transform 500ms ease;
}

.header__navbar--mobile--disable {
    transform: translateX(100%);
    transition: transform 500ms ease;
}

.mobile__close-open {
    background-color: transparent;
    margin-top: 10px;
    padding: 0;
    border: none;

    position: fixed;
    right: 0;
    z-index: 9999;
    width: 40px;
    height: 50px;

    .x-span {
        background-color: white;
        height: 1px;
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }

    .x-span--able1, .x-span--able3, .x-span--disable1, .x-span--disable3 {
        transition: transform 500ms ease;
    }

    .x-span--able1 {
        transform: rotate(45deg) translate(6px,4px);
    }
    .x-span--able2 {
        opacity: 0;
    }
    .x-span--able3 {
        transform: rotate(-45deg) translate(11px,-9px);
    }
    .x-span--disable1 {
        transform: rotate(0deg) translate(0px,0px);
    }
    .x-span--disable2 {
        opacity: 1;
        transition: opacity 500ms ease;
    }
    .x-span--disable3 {
        transform: rotate(0deg) translate(0px,0px);
    }
}