.navbar {
    display: flex;
    flex-direction: row;
    & > * {
        margin: 0px 15px;
    }

    @media (max-width: 780px) {
        & > * {
            margin: 0px 8px;
        }
    }

    @media (max-width: 360px) {
        & > * {
            margin: 0px 5px;
        }
    }
}