@use '../../base/palete';

.projects__header {
    height: 4.8vw;
    padding-top: 0px;
    padding-left: 70px;

    @media (max-width: 780px) {
        height: 17vw;
        padding-left: 4.5vw;
        display: flex;
        align-items: center;
        margin: auto;
        padding-bottom: 1.5vw;
    }
}

.projects__nav-buttons {
    display: flex;
    flex-direction: column;
    float: left;
    margin-right: 12px;

    @media (max-width: 780px) {
        margin-right: 6px;
    }
}

.nav-buttons__button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    color: white;
    font-size: 1.5vw;
    padding: 0px 10px;

    &:hover {
        color: green;
    }

    @media (max-width: 780px) {
        font-size: 6vw;
        padding: 0px 5px;
    }
}

.nav-buttons__button--top {
    margin-bottom: 0.3vw;
    
    @media (max-width: 780px) {
        margin-bottom: -0.5vw;
    }
}