@use '../../base/palete';

.branding {
    & > div {
        display: flex;
    }
}

.branding-footer {
    & > div {
        display: flex;
    }

    @media (max-width: 780px) {
        & {
            display: none;
            justify-content: center;
        }
    }
}

.branding__title {
    color: palete.$tertiary-color;
    font-size: 30px;
    margin-left: 5px;
    user-select: none;
    font-weight: bold;
}

.branding__title--lastName {
    color: palete.$primary-color;
    margin-left: 15px;
}

.branding__hr {
    width: 340px;
    height: 3px;
    background-image: linear-gradient(90deg, palete.$tertiary-color, palete.$primary-color);
}