@use '../../base/palete';

.curriculum {
    overflow: auto;
    height: 307px;
    margin-top: 60px;
    width: 70%;
    padding: 20px;
    background-color: lighten(palete.$secundary-color, 14.5%);
    border-radius: 10px;
    line-height: 1.3;
    color: palete.$tertiary-color;

    &::-webkit-scrollbar-thumb {
        padding-top: 10px;
        border-top-left-radius: 0px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 10px;
        padding-bottom: 10px;
    }

    @media (max-width: 780px) {
        margin-top: 5vw;
        height: 88vw;
        font-size: 3.5vw;
        width: 80%;
        padding: 0px;
    
        h4:first-of-type {
            padding-top: 20px;
        }
    
        p:last-of-type {
            padding-bottom: 20px;
        }
    
        h2, h4, p, .curriculum__dual-text {
            padding: 0px 20px;
        }
    
        hr {
            margin: 4px 20px;
        }
    
    }
}

.curriculum__title {
    text-align: center;
    font-weight: normal;
}

.curriculum__dual-text {
    display: flex;
    justify-content: space-between;
}

h2 {
    margin-top: 15px;
}

.curriculum__dual-text--left {
    text-align: left;
    font-weight: bold;
    display: inline-block;
}

.curriculum__dual-text--right {
    text-align: right;
    display: inline-block;
}

.italic {
    font-style: italic;
}

hr {
    margin-top: 1px;
    margin-bottom: 3px;
}